<div class="leftContainer col-sm-6 noMargin inline-block">

  <h1>Edit stall</h1>

  <form action="/" method="PUT" role="form" class="edit-form">
    <div class="form-group">
      <label for="name">ID</label>
      <input type="textarea" class="form-control" id="PUTid" name="id" readonly>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="textarea" class="form-control" id="PUTname" name="name">
    </div>
    <div class="form-group">
      <label for="name">Address</label>
      <input type="textarea" class="form-control" id="PUTaddress" name="address">
    </div>
    <div class="form-group">
      <label for="name">Account Manager</label>
      <input type="textarea" class="form-control" id="PUTaccountMgr" name="accountMgr">
    </div>
    <div class="form-group">
      <label for="name">Last Order</label>
      <input type="textarea" class="form-control" id="PUTlastOrders" name="lastOrders">
    </div>
    <div class="form-group">
      <label for="name">Contact Number</label>
      <input type="textarea" class="form-control" id="PUTcontactNo" name="contactNo">
    </div>
    <button type="submit" class="btn btn-primary " >Save Changes</button>
  </form>
  <br>
  <br>

  <h1>Information on stall</h1>

  <form action="/" method="GET" role="form">
    <div class="form-group">
      <label for="name">ID</label>
      <input type="textarea" class="form-control" id="GETid" name="id" readonly>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="textarea" class="form-control" id="GETname" name="name" readonly>
    </div>
    <div class="form-group">
      <label for="name">Address</label>
      <input type="textarea" class="form-control" id="GETaddress" name="address" readonly>
    </div>
    <div class="form-group">
      <label for="name">Account Manager</label>
      <input type="textarea" class="form-control" id="GETaccountMgr" name="accountMgr" readonly>
    </div>
    <div class="form-group">
      <label for="name">Last Order</label>
      <input type="textarea" class="form-control" id="GETlastOrders" name="lastOrders" readonly>
    </div>
    <div class="form-group">
      <label for="name">Contact Number</label>
      <input type="textarea" class="form-control" id="GETcontactNo" name="contactNo" readonly>
    </div>
  </form>
  <br>
  <br>
  <h1>Add new stall</h1>
  <form action="/" method="POST" role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="textarea" class="form-control" id="name" placeholder="e.g., Ah Seng Fishball Noodles" name="name">
    </div>
    <div class="form-group">
      <label for="name">Address</label>
      <input type="textarea" class="form-control" id="address" placeholder="e.g., 32 Gamba Avenue" name="address">
    </div>
    <div class="form-group">
      <label for="name">Account Manager</label>
      <input type="textarea" class="form-control" id="accountMgr" placeholder="e.g., John" name="accountMgr">
    </div>
    <div class="form-group">
      <label for="name">Last Order</label>
      <input type="textarea" class="form-control" id="lastOrders" placeholder="e.g., 5 kg whitefish balls" name="lastOrders">
    </div>
    <div class="form-group">
      <label for="name">Contact Number</label>
      <input type="textarea" class="form-control" id="contactNo" placeholder="e.g., Jane 91112222" name="contactNo">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <a href="/">&larr; Back</a>

</div>

<div class="rightContainer col-sm-6 noMargin inline-block">
<div id="mapid"></div>
</div>
